body{

	text-align:left;

}

.jump
{
    FONT-SIZE: 12px;
    COLOR: #001320;
    LINE-HEIGHT: 17px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: left
}
.itali
{
    FONT-STYLE: italic;
    COLOR: #ff6600;

}

.orange2a

{

    FONT-SIZE:15px;
    BACKGROUND-COLOR: #ffffff;
    LINE-HEIGHT:20px;

    FONT-WEIGHT: bold;

    COLOR: #552200;

    FONT-FAMILY: Arial, Helvetica, Sans-serif;
   background-image: url(orange4a.gif); 
    TEXT-DECORATION: none

}
.rtbk
{
    BACKGROUND-COLOR: #bbe0ff;
    background-image: url(bk6.gif); 
}
.caption
{
    FONT-SIZE: 14px;
    FONT-STYLE: Italic;
    FONT-weight: Bold;
    COLOR: #001320;
    LINE-HEIGHT: 19px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: left
}
#padleft
{text-align:left; min-height:960px;}
#padcent
{text-align:left}
#leftbox
{text-align:left; min-height:960px;}
#centbox
{text-align:left}
.titletext
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 13px;
    LINE-HEIGHT: 18px;
    COLOR: #0066aa;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
    VERTICAL-ALIGN: top;
}
.toptitle
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 13px;
    LINE-HEIGHT: 18px;
    COLOR: #552200;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
}
.tophdg
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 13px;
    LINE-HEIGHT: 18px;
    COLOR: #0066aa;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
}
.hdg
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 13px;
    LINE-HEIGHT: 48px;
    COLOR: #0066aa;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
}
.greek
{
    FONT-SIZE: 17px;
    COLOR: #001320;
    LINE-HEIGHT: 24px;
    FONT-FAMILY: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;

}
.greek2
{
    FONT-SIZE: 18px;
    COLOR: #001320;
    LINE-HEIGHT: 24px;
    FONT-FAMILY: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    COLOR: #9f4000;

}
.grktitle
{
    FONT-SIZE: 19px;
    font-weight:700;
    COLOR: #001320;
    LINE-HEIGHT: 23px;
    FONT-FAMILY: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: left
}
.maintitle
{
    FONT-SIZE: 19px;
    font-weight:700;
    COLOR: #552200;
    LINE-HEIGHT: 23px;
    FONT-FAMILY: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: left
}
.greektext
{
    FONT-SIZE: 19px;
    COLOR: #001320;
    LINE-HEIGHT: 23px;
    FONT-FAMILY: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: left
}
.greekindex
{
    FONT-SIZE: 19px;
    font-weight:700;
    COLOR: #001320;
    LINE-HEIGHT: 28px;
    FONT-FAMILY: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: left
}


.greek3
{
    FONT-SIZE: 17px;
    COLOR: #001320;
    LINE-HEIGHT: 24px;
    FONT-FAMILY: Cardo, GentiumAlt, Galilee Unicode Gk, Galatia SIL, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: left
}

.hebtext
{
    FONT-SIZE: 20px;
    COLOR: #001320;
    LINE-HEIGHT: 27px;
    FONT-FAMILY: Ezra SIL, SBL Hebrew, Cardo, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.hebrew
{
    FONT-SIZE: 19px;
    COLOR: #001320;
    LINE-HEIGHT: 26px;
    FONT-FAMILY: Ezra SIL, SBL Hebrew, Cardo, Cambria, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}
.hebrewindex
{
    FONT-SIZE: 20px;
    font-weight:700;
    COLOR: #001320;
    LINE-HEIGHT: 30px;
    FONT-FAMILY: Ezra SIL, SBL Hebrew, Cardo, Cambria, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}
.hebrew3
{
    FONT-SIZE: 19px;
    COLOR: #001320;
    LINE-HEIGHT: 26px;
    FONT-FAMILY: Ezra SIL, SBL Hebrew, Cardo, Cambria, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}
.hebrew2
{
    FONT-SIZE: 21px;
    COLOR: #001320;
    LINE-HEIGHT: 26px;
    FONT-FAMILY: Ezra SIL, SBL Hebrew, Cardo, Cambria, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}

.paleoheb
{
    FONT-SIZE: 20px;
    COLOR: #001320;
    LINE-HEIGHT: 27px;
    FONT-FAMILY: Evyoni Hebrew Encoded Palaeo, SBL Hebrew, Ezra SIL, Cardo, Cambria, Palatino Linotype, Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
}


.btext2
{
    FONT-SIZE: 15px;
    COLOR: #001320;
    LINE-HEIGHT: 19px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: left
}
.cverse
{
    FONT-SIZE: 15px;
    FONT-STYLE: italic;
    COLOR: #0066aa;
    LINE-HEIGHT: 19px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: left
}
.cverse2
{
    FONT-SIZE: 15px;
    FONT-STYLE: italic;
    COLOR: #0066aa;
    LINE-HEIGHT: 19px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: left
}
.itext
{
    FONT-SIZE: 15px;
    COLOR: #001320;
    LINE-HEIGHT: 24px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: left
}
.botlink
{
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold;
    LINE-HEIGHT: 24px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: left
}
.smallcaps
{
    FONT-SIZE: 12px;
    COLOR: #001320;
    LINE-HEIGHT: 24px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: left
}
.whiteheading
{
    FONT-SIZE: 13px;
    LINE-HEIGHT: 18px;
    FONT-WEIGHT: Bold;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
    TEXT-Align: center
}
.blu
{
    BACKGROUND-COLOR: #b0dfff;

}

.medblue
{
    BACKGROUND-COLOR: #0082d9;

}
.mapbk
{
    BACKGROUND-COLOR: #FFFFFF;

}
.mainbk
{
    BACKGROUND-COLOR: #b3e0ff;
}
.bluebk
{
    BACKGROUND-COLOR: #ffffff;
}
.darkbk
{
    BACKGROUND-COLOR: #99d6ff;
}
.bluebk2
{
     BACKGROUND-COLOR: #e8f5ff;
/*    background-image: url(bk5.gif); */
     background-repeat: no-repeat; 
}
.bluebk3
{
    BACKGROUND-COLOR: #f9fdff;
    background-image: url(lline.gif); 
     background-repeat: repeat-y;
	     TEXT-Align: left;
   FONT-SIZE: 15px;
    COLOR: #001320;
    LINE-HEIGHT: 24px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: left;
    TEXT-DECORATION: none
 } 
}
.bluebk3a
{
    BACKGROUND-COLOR: #ffffff;
}
.bluebk4
{
    background-image: url(lline.gif); 
     background-repeat: repeat-y;

     BACKGROUND-COLOR: #e8f5ff;
}
.rtbk
{
    BACKGROUND-COLOR: #bbe0ff;
    background-image: url(bk6.gif); 
}
.tablebk
{
    BACKGROUND-COLOR: #ffffff;
}
.chpabk
{

    BACKGROUND-COLOR: #ffffff;

    background-image: url(chpbk.jpg);

}
.topbk
{
    BACKGROUND-COLOR: #ffffff;
}
.smalltext
{
    FONT-SIZE: 11px;
    LINE-HEIGHT: 17px;
    COLOR: #001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: left
}
.slidetext
{
    FONT-SIZE: 13px;
    LINE-HEIGHT: 17px;
    COLOR: #001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: left
}
.ltext
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 15px;
    LINE-HEIGHT: 40px;
    BACKGROUND-COLOR: #ffecdf;
    background-image: url(orange5.gif);
    COLOR: #001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
    VERTICAL-ALIGN: top;
}
.ltext2
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 15px;
    LINE-HEIGHT: 40px;
    BACKGROUND-COLOR: #ffffff;
    COLOR: #001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
    VERTICAL-ALIGN: top;
}

.titletext
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 15px;
    LINE-HEIGHT: 19px;
    COLOR: #552200;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
    VERTICAL-ALIGN: top;
}
.crossref
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 11px;
    LINE-HEIGHT: 17px;
    COLOR: #001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
    VERTICAL-ALIGN: top;
}
.versiontext
{
    FONT-WEIGHT: 500;
    FONT-SIZE: 15px;
    LINE-HEIGHT: 18px;
    COLOR: #0066aa;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
    VERTICAL-ALIGN: top;
}
.sourceheading
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 15px;
    LINE-HEIGHT: 18px;
    COLOR: #001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
    VERTICAL-ALIGN: top;
}
.lexheading
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 17px;
}
.textheading
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 17px;
}
.random
{
    FONT-WEIGHT: 700;
    FONT-SIZE: 17px;
}
.emphasized
{
    FONT-WEIGHT: 700;
    COLOR: #552200;
    FONT-STYLE: Italic;    FONT-SIZE: 17px;
}
.nonheading
{
    FONT-WEIGHT: 700;
    FONT-STYLE: Italic;
    FONT-SIZE: 15px;
    LINE-HEIGHT: 18px;
    COLOR: #0066aa;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;   
    VERTICAL-ALIGN: top;
}
.ltext2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    LINE-HEIGHT: 17px;
    COLOR: #001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;    
    VERTICAL-ALIGN: top;
    Color: none
    
}
.xtext
{
    FONT-SIZE: 15px;
    FONT-STYLE: italic;
    COLOR: #0066AA;
    LINE-HEIGHT: 19px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: left
}
.x2text
{
    FONT-SIZE: 15px;
    COLOR: #001320;
    LINE-HEIGHT: 17px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: left
}
.x3text
{
    FONT-SIZE: 15px;
    COLOR: #001320;
    LINE-HEIGHT: 19px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: left
}
.comtext
{
    FONT-SIZE: 15px;
    FONT-STYLE: normal;
    COLOR: #001320;
    LINE-HEIGHT: 19px;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none;
    TEXT-Align: left
}
.redtext
{
    FONT-SIZE:15px;
    LINE-HEIGHT:18px;
    COLOR: #552200;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.toptext
{
    FONT-SIZE:15px;
	FONT-WEIGHT:500;
    LINE-HEIGHT:18px;
    COLOR: #0066AA;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.encheading
{
    FONT-SIZE:15px;
    FONT-WEIGHT:700;
    LINE-HEIGHT:19px;
    COLOR: #552200;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}

.redheading

{

    FONT-SIZE:15px;
    BACKGROUND-COLOR: #ffecdf;
    background-image: url(orange5.gif);
    LINE-HEIGHT:20px;

    FONT-WEIGHT: bold;

    COLOR: #552200;

    FONT-FAMILY: Arial, Helvetica, Sans-serif;

    TEXT-DECORATION: none;
	text-align:left;

}
.encycheading

{

    FONT-SIZE:15px;
    LINE-HEIGHT:20px;

    FONT-WEIGHT: bold;

    COLOR: #552200;
    padding-top:5px;

    FONT-FAMILY: Arial, Helvetica, Sans-serif;

    TEXT-DECORATION: none;
	text-align:left;

}

.toptitle2

{

    FONT-SIZE:15px;
    LINE-HEIGHT:20px;

    FONT-WEIGHT: bold;

    COLOR: #552200;
    padding-top:5px;
    padding-bottom:10px;

    FONT-FAMILY: Arial, Helvetica, Sans-serif;

    TEXT-DECORATION: none

}

.redheading2

{

    FONT-SIZE:15px;
    BACKGROUND-COLOR: #ffffff;
    LINE-HEIGHT:20px;

    FONT-WEIGHT: bold;

    COLOR: #552200;

    FONT-FAMILY: Arial, Helvetica, Sans-serif;

    TEXT-DECORATION: none

}


.redheading3

{

    FONT-SIZE:16px;
    LINE-HEIGHT:33px;

    FONT-WEIGHT: bold;

    COLOR: #552200;

    FONT-FAMILY: Arial, Helvetica, Sans-serif;

    TEXT-DECORATION: none

}



.btext2

{

    FONT-SIZE: 15px;

    COLOR: #001320;

    LINE-HEIGHT: 24px;

    FONT-FAMILY: Arial, Helvetica, Sans-serif;

    TEXT-DECORATION: none


    TEXT-Align: left

}
.boldtext

{

    FONT-SIZE: 15px;
    FONT-WEIGHT: 700;

    COLOR: #001320;

    LINE-HEIGHT: 24px;

    FONT-FAMILY: Arial, Helvetica, Sans-serif;

    TEXT-DECORATION: none

    TEXT-Align: left

}

.sectionheading
{
    FONT-SIZE: 15px;
    LINE-HEIGHT:15px;
    FONT-WEIGHT: bold;
    FONT-Style: italic;
    COLOR: #001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.psalmheading
{
    FONT-SIZE: 15px;
    LINE-HEIGHT:15px;
    FONT-WEIGHT: bold;
    COLOR: #001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.ref
{
    FONT-SIZE: 15px;
    LINE-HEIGHT: 24px;
    FONT-WEIGHT: bold;
    COLOR: #0099ff;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.copyrighttext
{
    FONT-SIZE: 9px;
    LINE-HEIGHT:9px;
    COLOR: #001320;
    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    TEXT-DECORATION: none
}
.txtBlackBold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #001320;
    FONT-FAMILY: Verdana, Arial, Helvetica;
    TEXT-DECORATION: none
}
.orange

{

    FONT-SIZE:15px;
    BACKGROUND-COLOR: #ffecdf;
    LINE-HEIGHT:20px;

    FONT-WEIGHT: bold;

    COLOR: #552200;

    FONT-FAMILY: Arial, Helvetica, Sans-serif;
    background-image: url(orange1.gif); 
    TEXT-DECORATION: none

}
.orange2

{

    FONT-SIZE:15px;
    BACKGROUND-COLOR: #ffffff;
    LINE-HEIGHT:20px;

    FONT-WEIGHT: bold;

    COLOR: #552200;

    FONT-FAMILY: Arial, Helvetica, Sans-serif;
   background-image: url(orange4.gif); 
    TEXT-DECORATION: none

}

